body {
  font-family: Georgia, serif;
  margin: 0;
  background-color: #f2f2f2;
}


.site-header {
  background-color: #d9d9d9;
  padding: 60px 40px 40px 40px;
}

/* Title */
.site-header h1 {
  margin: 0;
  font-size: 48px;
}

/* Navigation */
.site-nav {
  margin-top: 30px;
}

.site-nav a {
  color: #003399;
  text-decoration: underline;
  margin-right: 12px;
  font-size: 18px;
}

/* Main spacing */
main {
  padding: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

ul, ol {
  font-size: 20px;
  line-height: 1.6;
}

/* Grey aside box */
aside {
  background-color: #d9d9d9;
  padding: 60px 40px 40px 40px;
    margin: 25px -40px;

  font-size: 22px;
  line-height: 1.5;
  
}

/* Footer */ 
footer {
  background-color: #d9d9d9;
  padding: 60px 40px 40px 40px;
  font-size: 24px;
}